<%

@current_page = "members"
@title = " | Members List"

%>
<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">

    <h4>
      Find out more information for each and every one of us!
    </h4>

    <h5 class="shoutout">
      If you are a member and do not see your name in this list...<br/>
      Shame on you! <br/>
      Create a Pull Request to include yourself now!
    </h5>

    <ul class="members-list">
      <% @members.each do | member| %>
      <li>
        <span class="name"><%= member[:name] %></span>
        <p class="brief">
          <blockquote><%= member[:brief] %></blockquote>
        </p>
        <ul>
          <li class="github">Github: <a href="http://github.com/<%= member[:github] %>"><%= member[:github] %></a></li>
          <li class="twitter">Twitter: <a href="http://twitter.com/<%= member[:twitter] %>">@<%= member[:twitter] %></a></li>
          <% if member[:website] %>
            <li class="website">Website/Blog: <a href="<%= member[:website] %>"><%= member[:website] %></a></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>

  </section>
</div>
